In [1]:
import pandas as pd
import numpy as np
import os
import konlpy
import openpyxl

In [2]:
openpyxl.__version__

'3.0.1'

In [3]:
class preprocess():
    def read_excel(path):
        data = pd.read_excel(path)
        return data
        
    def nlp(data):
        non_space_sentense = []
        for dat in data['단어']:
            non_space_sentense.append(str(dat).replace(' ', '')) ## 스페이스 제거
            
        non_space_sentense = pd.DataFrame(non_space_sentense)
        add_df = pd.merge(data, non_space_sentense, how = 'outer', left_index=True, right_index=True)
        add_df = add_df.rename({0:'non_space'}, axis='columns')  ## 스페이스 제거된 열 추가
        
        return add_df
    
    def over_lab_data(df):
        n = 0
        over_lab_data = pd.DataFrame()
        while n < len(df)-1:
            for i in range(n, n+1, 1):
                if df['non_space'].iloc[n] == df['non_space'].iloc[n+1]:
                    over_lab_data = over_lab_data.append(df.iloc[n+1])
                else:
                    pass

            n += 1

        return over_lab_data
    
    def overlab_df_del(df):
        df = df.drop_duplicates(['non_space'])
        
        return df

In [5]:
path = 'data/synonym_docs.xlsx'
data = preprocess.read_excel(path)
add_df = preprocess.nlp(data)

In [14]:
print(len(add_df))
print(len(result))

45286
5752

45286 -> 5752 로 줄음(너무 많이 준거아닌가;;?)

In [6]:
result = preprocess.overlab_df_del(add_df)
result

,단어,유의어1,유의어2,유의어3,유의어4,유의어5,유의어6,유의어7,유의어8,유의어9,유의어10,번호,non_space
0,76.8,칠육 점 팔 요금제,칠육 요금제,칠십육 점 팔 요금제,칠십육 요금제,NaN,NaN,NaN,NaN,NaN,NaN,1.0,76.8
1,87.8,팔칠 점 팔 요금제,팔칠 요금제,팔십칠 점 팔 요금제,팔십칠 요금제,NaN,NaN,NaN,NaN,NaN,NaN,2.0,87.8
2,114,일일사,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,114
3,001 FREE,001 프리,공공일 프리,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,001FREE
4,001광개토요금제,공공일 광개토 요금제,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,001광개토요금제
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45272,플레이보이TV,플레이보이티비 궁금해요,플레이보이티비 볼 수 있나요,플레이보이티비 가입 되나요,play boy tv,playboy티비,NaN,NaN,NaN,NaN,NaN,NaN,플레이보이TV
45273,한솔영어나라,한솔 영어,영어 한솔,한솔 English 나라,Hansol English 나라,Hansol 영어나라,NaN,NaN,NaN,NaN,NaN,NaN,한솔영어나라
45275,허니TV,honey tv,honey 티비,Honey 티브이,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,허니TV
45279,JRC 중국어월정액,JRC 중국어,제이알씨 중국어,제이알씨 중국어 배우기,JRC 중국어 배우기,제이얼씨 중국어 월정액,NaN,NaN,NaN,NaN,NaN,NaN,JRC중국어월정액
45285,SPOTV ON디멘드,스포티비온디멘드,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SPOTVON디멘드

In [7]:
# result.to_excel('result.xlsx', sheet_name= 'sheet1') ## 엑셀 파일 생성